body{
	margin:0px;
	min-height: 100vh;
	font-family: 'Chewy', cursive; /* Use the recommended family style from Google Fonts */
	font-weight: 400;
	font-style: normal;
	background: #c3efef;
}

main{
	margin:20px;
	text-align: center;
}

.navbar ul{
	list-style-type: none;
	background-color: #c2dfbe;
	padding: 0px;
	margin: 0px;
}

.navbarUl{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.navbar a{
	color: black;
	height: 100%;
	text-decoration: none;
	padding: 0 30px;
	display: flex;
	align-items: center;
}
.navbar a:hover{

	background-color: #5f5f5f;
}

.navbar li{
	height: 50px;
}

.navbar li:first-child{
	margin-right: auto;
}

.sidebar{
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 250px;
	z-index: 999;
	background-color: rgba(210, 120, 140, 0.2);
	backdrop-filter: blur(10px);
	box-shadow: -10px 0 rgba(0, 0, 0, 0.1);
	display: none;
	flex-direction: column;
}

.sidebar li{
	width: 100%;
}

.sidebar a{
	width: 100%;
	color: black;
}

.sidebar a:hover{
	background-color: #5f5f5f;
}

.sidebar ul{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

h1{
	text-align: center;
	font-size: 75px;
	margin: 0px;
}

h2{
	text-align: center;
	margin-left: 500px;
	margin-right: 500px;
}

}
